<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-wrapper">
  <ion-row>
    <ion-col class="user-name">
      Welcome Karnesh Kumar!
    </ion-col>
  </ion-row>
  
  <ion-card>
    <ion-item>
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label> Wallet Balance</ion-label>
      1,852
    </ion-item>
  </ion-card>

  <ion-card class="card-info">
    <ion-card-content>
      <ion-row>
        <ion-label>New Bids</ion-label>
        <ion-icon name="refresh-outline" slot="end"></ion-icon>
      </ion-row>
      1,852
    </ion-card-content>
  </ion-card>
</ion-content>