<ion-content>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/slide-1.png" />
        <h2>Welcome</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration
          of proper code use.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./slide-2.png" />
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web
        technologies like HTML, CSS, and JavaScript.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-3.png" />
      <h2>What is Ionic Appflow?</h2>
      <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
        totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-4.png" />
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
  <form #form="ngForm" (ngSubmit)="doLogin(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="phone" type="number" placeholder="Mobile Number (10-digit)" ngModel minLength="10"
                required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Continue</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>